<ion-header>
  <ion-toolbar>
    <ion-title>verReporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-subtitle
        >{{reporte.createdAt | date: 'short'}}</ion-card-subtitle
      >
      <ion-card-title>{{reporte.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p align="justify">{{reporte.content}}</p>
      <br />
      <p align="justify">{{reporte.locationlat}}</p>
      <br />
      <p align="justify">{{reporte.locationlong}}</p>
      <br />
      <ion-button
        slot="start"
        color="warning"
        [routerLink]="'/editar-reporte/' + reporte.id"
        >Edit</ion-button
      >
      <ion-button slot="end" color="danger" (click)="deleteReporte()"
        >Delete</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
