.container {
    margin-top: 20px;
    margin-bottom: 300px;
}

.header {
    padding: 5px;
    border-top: groove;
    border-bottom: groove;
}

h2, h4 {
    padding: 30px;
    text-align: center;
}
