.line{
    position: absolute;
    width: 304.5px;
    height: 234.5px;
    left: 0px;
    bottom: 0px;

    background-image: url(./resources/pie.png);
    background-size: cover;
    background-repeat: no-repeat;
}