ion-grid {
	--ion-grid-padding: 7%;
}

ion-col {
	--ion-grid-column-padding: 5%;
}
.line {
	background-size: auto;
	background-image: url("../../../assets/img/pie.png");
	height: 500px;
	width: 100%;
}
