<app-header titulo="Registro de Siniestro"></app-header> 
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>Nombre</ion-label>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label>Estado</ion-label>
        <ion-input></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label>Municipio</ion-label>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Numero Telefonico</ion-label>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Descripcion</ion-label>
        <ion-textarea></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" type="submit" shape="round">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="line"></div>
</ion-content>
