<app-header titulo="Crear Reporte"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h3>Titulo</h3>
      <ion-input
      class="form-control"
        placeholder="Enter Title"
        [(ngModel)]="reporte.title"
      ></ion-input>
    </ion-item>
    <ion-item>
      <h3>Reporte</h3>
      
      <ion-textarea
        rows="6"
        [(ngModel)]="reporte.content"
        placeholder="Reporte"
      ></ion-textarea>
    </ion-item>
      <ion-item>
        <h3>Fecha</h3>
        <ion-input
        type="date" class="form-control" id="fecha" name="fechaNacimiento" value="" min="1850-01-01"
          [(ngModel)]="reporte.fecha"
        ></ion-input>
      </ion-item>      
    <ion-item>
      <h3>Hora</h3>
      <ion-select [(ngModel)]="reporte.hora" class="form-control" name="hora" id="hora">
        <ion-select-option value="1">01:00</ion-select-option>
        <ion-select-option value="2">02:00</ion-select-option>
        <ion-select-option value="3">03:00</ion-select-option>
        <ion-select-option value="4">04:00</ion-select-option>
        <ion-select-option value="5">05:00</ion-select-option>
        <ion-select-option value="6">06:00</ion-select-option>
        <ion-select-option value="7">07:00</ion-select-option>
        <ion-select-option value="8">08:00</ion-select-option>
        <ion-select-option value="9">09:00</ion-select-option>
        <ion-select-option value="10">10:00</ion-select-option>
        <ion-select-option value="11">11:00</ion-select-option>
        <ion-select-option value="12">12:00</ion-select-option>
        <ion-select-option value="13">13:00</ion-select-option>
        <ion-select-option value="14">14:00</ion-select-option>
        <ion-select-option value="15">15:00</ion-select-option>
        <ion-select-option value="16">16:00</ion-select-option>
        <ion-select-option value="17">17:00</ion-select-option>
        <ion-select-option value="18">18:00</ion-select-option>
        <ion-select-option value="19">19:00</ion-select-option>
        <ion-select-option value="20">20:00</ion-select-option>
        <ion-select-option value="21">21:00</ion-select-option>
        <ion-select-option value="22">22:00</ion-select-option>
        <ion-select-option value="23">23:00</ion-select-option>
        <ion-select-option value="24">24:00</ion-select-option>
      </ion-select>
    </ion-item>
    <script>
    </script>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="agregarReporte()"
    >Create</ion-button
  >
</ion-content>
