.error-message {
    color: var(--ion-color-danger);
}

.form-card {
    margin: 10px 0px 0px 0px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.image-card {
    background-color: whitesmoke;
    border-radius: 15px;
}

ion-button {
    margin-top: 20px;
}